body{
    background-color: black;
}
.sidebar{
    background-color: black;
    width: 330px;
    transform:translateX(-80%) ;
    transition: .75s;
}
.show-content{
    background-color: white;
    width: 80px;
}
.nav-item {
    opacity: 0;
    transform: translateY(100px);
    transition: 0.5s ;
}

.nav-item.show {
    opacity: 1;
    transform: translateY(0);
}
.card-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    height: 0;
    background-color:#b5b5b5ab;
    opacity: 0;
    transition: .4s;

}

.card:hover .card-layer{
    opacity: 1;
    height: 100%;
}
.img-indetails{
    width: 400px;
}
.inputs,.forminputs{
    gap:30px;
}
.inputs input,.forminputs input{
    border:1px solid gray;
    border-radius: 10px;
    
}
.inputs input::placeholder,.forminputs input::placeholder{
    color: gray;
}
ul li{
    cursor: pointer;
}
.area-icon,.ingred-icon{
    font-size: 80px ;
}
.submit{
    width: 150px;
}